################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch09/Lib/.vs/Lib/v15/Browse.VC.db
